@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--josefinSans);
}

:root {
  --josefinSans: 'Josefin Sans', sans-serif;

  /* Primary Color */
  --desaturatedRed: hsl(0, 36%, 70%);
  --softRed: hsl(0, 93%, 68%);

  /* Neutral Color*/
  --darkGrayishRed: hsl(0, 6%, 24%);

  /* Gradients Color*/
  --grad1LinearFrom: hsl(0, 0%, 100%);
  --grad1LinearTo: hsl(0, 100%, 98%);
  --grad2LinearFrom: hsl(0, 80%, 86%);
  --grad2LinearTo: hsl(0, 74%, 74%);
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
}

section {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url('../images/hero-desktop.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40% 100%;
}

section .first-side {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: space-around;
  background-image: url(../images/bg-pattern-desktop.svg);
}

.first-side > * {
  margin-left: 200px;
}
.first-side .logo {
  width: 158px;
}

.first-side .group {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 60%;
  justify-content: flex-start;
  position: relative;
}
.first-side .group > * {
  margin-bottom: 20px;
}
.group h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--desaturatedRed);
  width: 500px;
  letter-spacing: 10px;
}

.group h1 span {
  font-weight: 700;
  color: var(--darkGrayishRed);
}

.group p {
  font-size: 16px;
  line-height: 26px;
  color: var(--desaturatedRed);
}

.group form {
  display: flex;
  width: 430px;
  flex-direction: row;
  justify-content: space-between;
}

form input {
  width: 87%;
  height: 55px;
  border-radius: 50px;
  padding: 0 30px;
  border: 0.3px solid hsla(0, 6%, 24%, 0.521);
  border-style: double;
}

form input:focus {
  outline: var(--softRed) 2px solid;
  border: none;
}
form input::after {
  content: 'Please provide a valid email';
}
::placeholder {
  font-size: 15px;
}
form .bastard {
  font-size: 14px;
  position: absolute;
  transform: translate(30px, 60px);
  color: var(--grad2LinearTo);
  font-weight: 700;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

form .bastard.active {
  opacity: 1;
}

form .btn-grp {
  width: 150px;
  height: 55px;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(280px, 0);
  justify-content: space-between;
}

.btn-grp .error {
  transform: translate(100px);
  z-index: -1;
  transition: all ease-in-out 0.5s;
}
.btn-grp .error.active {
  transform: translate(0);
  transition: all ease-in-out 0.5s;
}
.btn-grp button {
  width: 100px;
  height: 56px;
  border-radius: 50px;
  border: none;
  background-image: linear-gradient(
    135deg,
    var(--grad1LinearTo),
    var(--grad2LinearTo)
  );
  box-shadow: 0 10px 15px hsl(0, 37%, 68%);
}

@media screen and (max-width: 1101px) {
  .first-side > * {
    margin-left: 50px;
    /* z-index: 1; */
  }
}

@media screen and (max-width: 890px) {
  section {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: none;
    align-items: center;
  }

  section .first-side {
    display: flex;
    flex-direction: column;
    width: 100000%;
    height: 100%;
    justify-content: space-around;
    background-image: none;
    align-items: center;
  }

  .first-side > * {
    margin-left: 0px;
  }

  .bgd-img {
    display: flex;
    width: 100%;
    height: 500px;
    transition: all ease-in-out 0.35s;
  }
  .img {
    width: 100%;

    background-image: url('../images/hero-mobile.jpg');
    background-position: center;

    background-repeat: no-repeat;
  }
}
